@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    max-height: 100vh;
    background-color: #04082e;
}

header {
    padding: 1.7rem 1rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
    background-color: transparent;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
}

nav a.active,
nav a:hover {
    color: #00E8F8;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu i {
    color: #00E8F8;
}

.menu {
    display: none;
}

section {
    margin: 2rem 8.5rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.main p {
    margin-top: 1rem;
    font-size: .98rem;
    color: #fff;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.7rem;
}

.social a {
    color: #00E8F8;
    font-size: 1rem;
    border: 1.6px solid #00E8F8;
    border-radius: 50%;
    padding: .35rem;
    text-align: center;
    width: 26px;
}

.social a:hover {
    color: #1F252E;
    background-color: #00E8F8;
    box-shadow: 0 0 20px #00E8F8;
    transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
    font-size: 1.5rem;
}

.main h1 span:nth-child(2) {
    color: #00E8F8;
}

.images {
    border-radius: 50%;
    overflow: hidden;
    width:100%;

}

.images-container {
    width: 400px; 
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}

.image-wrapper {
    width: 100%;
    height: 100%;
}

.circular-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px;
        text-align: center;
        background-color: #1F252E;
        left: -100%;
        z-index: 1;
        width: 100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1.5rem;
    }
}

.detail {
    flex: 1;
}

.detail h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.detail p {
    margin-top: 1rem;
    font-size: .98rem;
    color: #fff;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-list li {
    flex: 0 1 calc(33.33% - 1rem); /* Three items per row with a small gap */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 232, 248, 0.7); /* Add box-shadow initially */
}

.skills-list i {
    font-size: 1.5rem;
    margin-bottom: 0.25rem; /* Adjust spacing between icon and text */
    color: #00E8F8;
}

.images {
    display: flex;
    gap: 1rem;
}

.skills-list li:hover {
    transform: scale(1.1);
}