* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

body {
    background-color: #00a00d;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

  .calculator {
    background-color: #071b24;
  }

  .calculator #display {
    color: #d7dcde;
  }

  .calculator button#clear {
    background-color: #8c0fdf;
    color: #120808;
  }

  .calculator button.btn-number {
    background-color: #1897cd;
    color: #020608;
  }

  .calculator button.btn-operator {
    background-color: #cd6a00;
    color: #000000;
  }
  
  .calculator button.btn-equal {
    background-color: #00d70e;
    color: #000000;
  }